.conditions {
    margin-top: 200px;
    @media(max-width: $breakpoint-991) {
        margin-top: 110px;
    }
    &__wrapper {
        margin-top: 100px;
        padding: 0 10px;
        @media(max-width: $breakpoint-767) {
            margin-top: 50px;
        }
    }

    &__timeline {
        @include adaptiv-columns(420, 300, 3);
        display: grid;
        justify-content: center;
        row-gap: 130px;
        
        @media(max-width: $breakpoint-1199) {
            @include adaptiv-columns(420, 300, 2);
        }
        @media(max-width: $breakpoint-767) {
            @include adaptiv-columns(420, 300, 1);
            row-gap: 80px;
        }
    }
}

.item-timeline-conditions {
    display: flex;
    flex-direction: column;
    gap: 12px;
    &__top {
        position: relative;
        order: 1;
        @media(max-width: $breakpoint-767) {
            order: 2;
            margin: 0 auto;
        }
    }
    &__bottom {
        order: 2;
        @media(max-width: $breakpoint-767) {
            order: 1;
        }
    }

    &__chain {
        @include adaptiv-font(32, 20);
        font-family: 'Bebas Neue';
        font-weight: 700;
        color: $main-color;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid $main-color;
        @media(max-width: $breakpoint-767) {
            margin-bottom: 0;
        }
    }

    &__line {
        position: absolute;
        top: 30px;
        right: 0;
        width: calc(100% - 60px);
        height: 2px;
        background-color: $main-color;
        @media(max-width: $breakpoint-767) {
            top: 100%;
            left: 50%;
            height: 100%;
            width: 2px;
            bottom: 30px;
        }
        
    }
    &__title {
        @include adaptiv-font(20, 14);
        font-weight: 700;
    }

    &__descr {
        @include adaptiv-font(16, 12);
        font-weight: 500;
        padding-right: 10px;
    }

    #line-1, #line-2, #line-3, #line-4, #line-5 {
        &::after,
        &::before {
            content: '';
            position: absolute;
            right: 0;
            display: none;
            width: 10px;
            height: 2px;
            background-color: $main-color;
        }

        &::after {
            transform: rotate(45deg);
            top: -4px;
            @media(max-width: $breakpoint-767) {
                top: 93%;
                left: -7px;
            }
        }

        &::before {
            transform: rotate(-45deg);
            top: 4px;
            @media(max-width: $breakpoint-767) {
                top: 93%;
                left: -1px;
            }
        }
    }
    #line-3, #line-5 {
        &::after,
        &::before {
            display: block;
        }
    }
    
    @media(max-width: $breakpoint-1199) {
        #line-3 {
            &::after,
            &::before {
                display: none;
            }
            
        }
        #line-2, #line-4 {
            &::after,
            &::before {
                display: block;
            }
        }
    }
    @media(max-width: $breakpoint-767) {
        #line-1, #line-2, #line-3, #line-4, #line-5 {
            &::after,
            &::before {
                display: block;
            }
        }
    }
    
}

.item-timeline-conditions-include {
    position: relative;
    margin-left: 17px;

    &__block {
        margin-top: -20%;
        padding: 34px 46px 55px 27px;
        background-color: $main-color;
        clip-path: polygon(7% 0, 100% 0, 100% 84%, 93% 100%, 0 100%, 0 16%);
        @media(max-width: $breakpoint-767) {
            margin-top: 0;
        }
    }

    &__title {
        @include adaptiv-font(20, 14);
        font-weight: 700;
        color: $white;
    }

    &__descr {
        @include adaptiv-font(16, 12);
        font-weight: 500;
        color: $white;
        margin-top: 13px;
    }

    &__bottom {
        position: relative;
        margin-top: -7%;
        margin-left: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        @media(max-width: $breakpoint-991) {
            gap: 10px;
            margin-left: 10px;
        }
    }

    &__link {
        font-size: 12px;
        font-weight: 500;
        text-align: center;

        &:hover {
            text-decoration: underline;
        }
    }
    &__room {
        @include adaptiv-minwidth(215, 160);
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.conditions-btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
