.footer {
    margin-top: 210px;
    background-color: $black-light;
    @media(max-width: $breakpoint-991) {
        margin-top: 120px;
    }
    &__wrapper {
        padding: 100px 0;
        @media(max-width: $breakpoint-767) {
            padding: 50px 10px;
        }
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(2, minmax(50%, auto));
        align-items: flex-start;
        gap: 20px;
        @media(max-width: $breakpoint-767) {
            display: grid;
            grid-template-columns: repeat(1, 100%);
            gap: 40px;
        }
    }

    &__logo {
        @include adaptiv-width(340, 200);
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        @media(max-width: $breakpoint-767) {
            justify-self: center;
        }
    }

    &__contacts {
        @include adaptiv-font(16, 11);
        font-weight: 400;
        color: $white;
        @media(max-width: $breakpoint-767) {
            justify-self: center;
            text-align: center;
        }
    }

    &__address-paragraph {
        margin-top: 10px;
    }

    &__address {
        font-style: normal;
    }

    &__contact-link {
        color: $white;
    }

    &__links {
        margin-top: 75px;
        @media(max-width: $breakpoint-767) {
            margin-top: 40px;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        @media(max-width: $breakpoint-991) {
            display: grid;
            grid-template-columns: repeat(2, calc(100%/2));
            gap: 5px;
        }
    }

    &__item {
        justify-self: center
    }

    &__navlink {
        @include adaptiv-font(13, 11);
        font-weight: 700;
        color: $white;
    }
}
.footer-btn-wrapper {
    justify-content: flex-start !important;
    margin: 45px 0 0 10px;
    @media(max-width: $breakpoint-767) {
        justify-content: center !important;
    }
}
.address-footer {
    &__top {
        margin-top: 0;
    }
}