.schema {
    margin-top: 200px;

    @media(max-width: $breakpoint-991) {
        margin-top: 110px;
    }

    &__wrapper {
        position: relative;
        margin-top: 180px;
    }

    &__bg {
        top: 50px;
        height: 88% !important;
    }

    &__img-wrapper {
        
        position: relative;
        
        #path {
            cursor: pointer;
        }
    }
    &__img-subwrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
    }
    &__img {
        position: relative;
        flex: 1 0 auto;
        max-width: 1158px;
        max-height: 480px;
        svg {
            max-width: 1158px;
            max-height: 480px;
            path {
                &:nth-child(28) {
                    cursor: pointer;
                }
            }
        }
    }

    &__dialog-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 35px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }

    &__mark {
        @include adaptiv-width(45, 20);
        opacity: 0;
        position: absolute;
        bottom: 50%;
        left: 85%;
        transition: .3s ease opacity;

        @media(max-width: $breakpoint-767) {
            top: 33%;
        }

        @media(max-width: $breakpoint-575) {
            top: 30%;
            right: 10%;
        }

        &_active {
            opacity: 1;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
       
    }
}

.schema-btn-wrapper {
    margin-top: 70px;
}

.dialog-schema {
    @include adaptiv-width(306, 170);
    @include adaptiv-font(14, 10);
    @include adaptiv-height(293, 180);
    position: absolute;
    bottom: 75%;
    right: -5%;
    background-color: $white;
    font-weight: 400;
    color: $black;
    box-shadow: 16px 16px 48px 0 rgba(#000, .1);
    opacity: 0;
    transition: .3s opacity ease;
    @media(max-width: $breakpoint-1399) {
        right: 0;
    }
    @media(max-width: $breakpoint-575) {
        bottom: 85%;
    }
    &_active {  
        opacity: 1;
    }

    &__header {
        @include adaptiv-font(16, 10);
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $main-color;
        font-weight: 500;
        color: $white;
    }
    &__content {
        padding: 0 15px 35px 15px;
        @media(max-width: $breakpoint-575) {
            padding: 0 0 0 10px;
        }
    }
    &__list {
        list-style-type: none;
        margin-top: 30px;
        @media(max-width: $breakpoint-991) {
            margin-top: 15px;
        }
        @media(max-width: $breakpoint-575) {
            margin-top: 7px;
        }

    }
    &__item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 15px;

        &::before {
            content: '';
            display: block;
            width: 12px;
            height: 12px;
            background-color: $main-color;
            border-radius: 100%;
        }

        &:nth-child(n):not(:first-child) {
            margin-top: 12px;
        }
    }

    &__descr {
        margin-top: 15px;
        @media(max-width: $breakpoint-991) {
            margin-top: 10px;
        }
    }
}