.support {
    margin-top: 200px;

    @media(max-width: $breakpoint-991) {
        margin-top: 110px;
    }

    &__bg {
        top: 130px;

        @media(max-width: $breakpoint-991) {
            clip-path: unset !important;
        }

        @media(max-width: $breakpoint-575) {
            height: 100% !important;
            clip-path: unset !important;
            top: 0;
        }
    }

    &__wrapper {
        position: relative;
        padding: 20px 0;
        margin-top: 100px;

        @media(max-width: $breakpoint-575) {
            margin-top: 50px;
        }
    }



    &__grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(300px, 522px));
        grid-template-rows: minmax(180px, auto);
        grid-auto-rows: minmax(180px, auto);
        gap: 20px;
        justify-content: center;
        padding: 0 10px;

        @media(max-width: $breakpoint-1199) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media(max-width: $breakpoint-575) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__card {
        filter: drop-shadow(16px 16px 48px rgba(#000, .1));

        &:nth-child(6) {
            .card-support__content {
                align-self: center;
            }
        }
    }
}

.card-support {

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        background-color: $white;
        clip-path: polygon(6% 0, 100% 0, 100% 78%, 94% 100%, 0 100%, 0 22%);
        padding: 12px 12px 30px 46px;
    }

    &__content {
        align-self: flex-end;
    }

    &__percent {
        @include adaptiv-font(50, 22);
        font-weight: 500;
    }

    &__descr {
        @include adaptiv-font(16, 12);
        font-weight: 500;
        margin-top: 5px;
    }

    &__icon-wrapper {
        @include adaptiv-width(100, 75);
        @include adaptiv-height(100, 75);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $main-color;
        border-radius: 3px;
    }
}