@import './variables';

$maxWidth: 1880;

@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $addMobSize: $addSize + $addSize * 0.7;

    @media (max-width: 767px) {
        font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 375px) / #{$maxWidth}));
    }

    @media (min-width: 767px) {
        font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
    }
}
@mixin adaptiv-width($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    width: calc((#{$addSize} / (1880 - 375) * ((100vw - 375px)) + #{$mobSize + px}));
}
@mixin adaptiv-flexBasis($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    flex-basis: calc((#{$addSize} / (1880 - 375) * ((100vw - 375px)) + #{$mobSize + px}));
}
@mixin adaptiv-columns($pcSize, $mobSize, $colNum) {
    $addSize: $pcSize - $mobSize;
    grid-template-columns: repeat($colNum, calc((#{$addSize} / (1880 - 375) * ((100vw - 375px)) + #{$mobSize + px}))) ;
}
@mixin adaptiv-minwidth($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    min-width: calc((#{$addSize} / (1880 - 375) * ((100vw - 375px)) + #{$mobSize + px}));
}

@mixin adaptiv-maxwidth($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    max-width: calc((#{$addSize} / (1880 - 375) * ((100vw - 375px)) + #{$mobSize + px}));
}
@mixin adaptiv-height($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    height: calc((#{$addSize} / (1880 - 375) * ((100vw - 375px)) + #{$mobSize + px}));
}
@mixin adaptiv-minheight($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    min-height: calc((#{$addSize} / (1880 - 375) * ((100vw - 375px)) + #{$mobSize + px}));
}
@mixin calc-width-min($col) {
    width: min(calc(#{$grid-container + px} - (#{$grid-column + px}*(#{$grid-column-num} - #{$col}) + (#{$grid-column-gap + px}*(#{$grid-column-num} - #{$col})))), 75%);
}
@mixin calc-width($col) {
    width: calc(#{$grid-container + px} - (#{$grid-column + px}*(#{$grid-column-num} - #{$col}) + (#{$grid-column-gap + px}*(#{$grid-column-num} - #{$col}))));
}
@mixin grid-template-columns($col, $colNum) {
    grid-template-columns: repeat($colNum, calc(#{$grid-container + px} - (#{$grid-column + px}*(#{$grid-column-num} - #{$col}) + (#{$grid-column-gap + px}*(#{$grid-column-num} - #{$col})))));
}
