$main-color: #01abbb;
$white: #ffffff;
$black: #000000;
$black-light: #211721;
$white-light: #F6EEE8;
$bg-white: #f6f6f6;
$gray: #404040;

$breakpoint-1399: 1399px;
$breakpoint-1299: 1299px;
$breakpoint-1199: 1199px;
$breakpoint-991: 991px;
$breakpoint-767: 767px;
$breakpoint-575: 575px;

$container: 1280px;
$grid-container: 1280;
$grid-column: 88;
$grid-column-gap: 20;
$grid-column-num: 12;